.titleOfComponent {
  text-align: center;
  margin: 110px;
  margin-bottom: 43px;

  h2 {
    font-size: 43px;
    font-weight: 700;
    color: #0d1823;
  }

  p {
    font-size: 23px;
    font-weight: 600;
    color: #3f51b5;
  }
}