.contactUs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-top: 4rem;
  margin-bottom: 22px;

  .headLine {
    text-align: center;
  }

  .leftSide {
    width: 45%;

    .header {
      display: flex;
      gap: 10px;
      margin: 20px 0;


      h3 {
        font-size: 36px;
      }

      img {
        width: 65px;
        object-fit: cover;
      }
    }


    p {
      // max-width: 60%;
      font-size: 20px;
      color: rgb(114 113 113);
      line-height: 31px;

    }

    .ourCommunicationContacts {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 40px;

      div {
        display: flex;
        align-items: center;
        gap: 12px;
      }

      img {
        width: 35px;
      }

      span {
        font-size: 19px;
        color: rgb(25 19 19 / 47%);
        font-weight: 500;
      }
    }
  }

  .rightSide {
    width: 45%;
    display: flex;
    flex-direction: column;

    label {
      color: rgba(117, 120, 123, 0.673);
      font-weight: 500;
      display: block;
    }

    input {
      margin-top: 12px;
      margin-bottom: 20px;
      width: 75%;
      padding: 10px 20px;
      border: 0;
      outline: 0;
      border-radius: 8px;
      background-color: #e4e2e278;
      font-size: 18px;

    }

    textarea {
      margin-top: 12px;
      margin-bottom: 20px;
      padding: 10px 20px;
      border: 0;
      outline: 0;
      border-radius: 8px;
      background-color: #e4e2e278;
      width: 75%;
      resize: none;
      font-size: 18px;



    }

    button {
      background-color: #2196f3;
      color: #fff;
      border-radius: 12px;
      padding: 14px 20px;
      border: 0;
      outline: 0;
      font-size: 16px;
      cursor: pointer;
    }

    span {
      display: block;
      margin: 20px 0;
    }
  }
}